[Unit]
Description=sd-ge-proton-updater
After=network.target

[Service]
ExecPre=/usr/bin/sleep 60
ExecStart=/home/deck/.sd-ge-proton-updater install
RemainAfterExit=true
Type=oneshot
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
